* {
  direction: rtl;
  font-family: 'IranSans';
  outline: none !important;
}

body,
html {
  height: 100%;
}

@font-face {
  font-family: 'IranSans';
  src: local('IranSans'), url(./fonts/ttf/IRANSansWeb.ttf) format('truetype');
}

.color-bg {
  background-color: #ff9800;
}

.color-text {
  color: #ff9800 !important;
}

.bg {
  background-image: url('assets/header-bg.jpg');
  height: 45vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-logo {
  width: 210px;
  height: 85px;
}

.logo-container {
  padding: 0px !important;
  margin-right: 6rem !important;
}

.loginBtn {
  outline: none !important;
  width: 90px;
  height: 40px;
  box-shadow: 0px 10px 30px 0px rgb(255 170 45 / 60%);
  color: white;
  background-color: #ff9800;
  border: 2px solid #ff9800 !important;
  transition: all 0.3s ease-out 0s;
  margin: 0px auto 0px;
}

.loginBtn:hover {
  background-color: white;
  color: #ff9800;
}

.loginBtn:focus,
.loginBtn:active:focus {
  outline: none !important;
  box-shadow: 0px 10px 30px 0px rgb(255 170 45 / 60%);
}

.nav-toggle {
  border: none !important;
  margin-left: 50px;
}

@media only screen and (min-width: 600px) {
  .loginBtn {
    position: absolute;
    left: 130px;
    top: 29px;
  }
}

@media only screen and (max-width: 600px) {
  .nav-logo {
    width: 130px;
    height: 50px;
    margin: 8px 0px;
  }
  .nav-toggle {
    border: none !important;
    margin-left: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .loginBtn {
    display: none;
  }
  .loginBtnMobile {
    display: block !important;
  }
  .footer-items {
    flex-direction: column !important;
  }
}

.loginBtnMobile {
  display: none;
  outline: none !important;
  width: 90px;
  height: 40px;
  box-shadow: 0px 10px 30px 0px rgb(255 170 45 / 60%);
  color: white;
  background-color: #ff9800;
  border: 2px solid #ff9800 !important;
  transition: all 0.3s ease-out 0s;
  margin: 0px auto;
}

.loginBtnMobile:hover {
  background-color: white;
  color: #ff9800;
}

.loginBtnMobile:focus,
.loginBtnMobile:active:focus {
  outline: none !important;
  box-shadow: 0px 10px 30px 0px rgb(255 170 45 / 60%);
}

.nav-items {
  text-align: center;
  margin: 12px auto 0px;
}

@media only screen and (max-width: 991px) {
  .nav-items {
    margin: 0px auto 0px;
  }

  .bread {
    margin-right: 0px !important;
  }
}

.bg-text {
  padding: 125px 0px 0px !important;
  font-size: 44px !important;
  font-weight: 800;
}
@media only screen and (min-width: 991px) {
  .bg-text {
    margin: 0px 50px 0px 0px !important;
    font-size: 56px !important;
  }
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}

.bread {
  direction: ltr !important;
  color: white;
  margin-right: 3rem;
}

.cat {
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.5s;
}

.cat:hover {
  background-color: #ff9800 !important;
  color: white !important;
  box-shadow: 0px 10px 30px 0px rgb(255 170 45 / 60%);
}

.cat > p:hover {
  color: white !important;
}

@media only screen and (max-width: 776px) {
  .logo-container {
    margin-right: 10px !important;
  }
  .categoriesMobile {
    flex-direction: column !important;
    justify-content: space-between;
    margin-top: 2rem !important;
  }
  .cat {
    min-width: 200px;
  }
  .cat-info {
    font-size: 16px !important;
  }
}

.social-media {
  transition: all 0.3s;
  font-size: 2rem;
  margin: 0px 5px;
}

.social-media:hover {
  color: #ff9800 !important;
}

.scrolltoTop {
  font-size: 1.5rem;
  font-weight: 800;
  border: none !important;
  color: #fff;
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  line-height: 35px;
  border-radius: 5px;
  background-color: #463ce5;
  text-align: center;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
